# MPG Cars

Check out [Cars Exercises Video Tutorial](https://www.youtube.com/watch?v=avzLRBxoguU&list=PLgJhDSE2ZLxaY_DigHeiIDC1cD09rXgJv&index=3) to watch a data scientist go through the exercises

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [13]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a to a variable called cars1 and cars2

In [14]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")

print(cars1.head())
print(cars2.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [15]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [16]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [17]:
cars = pd.concat([cars1, cars2], axis=0)
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [18]:
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners

array([54575, 20563, 38691, 53633, 49423, 50200, 25142, 53561, 21210,
       16065, 19953, 42584, 60000, 52105, 29590, 64300, 23497, 65406,
       34886, 45012, 60229, 50241, 44052, 39125, 45274, 59730, 43541,
       54486, 71228, 18730, 41491, 71302, 43735, 61556, 65112, 68835,
       70950, 27536, 45461, 26670, 58537, 69943, 63102, 22525, 56571,
       52648, 69575, 36377, 53516, 31350, 16986, 59500, 70585, 18981,
       18798, 52919, 44256, 56544, 51081, 29951, 49909, 35409, 47582,
       19396, 46429, 38719, 24007, 61793, 23230, 31361, 64339, 36703,
       22239, 58779, 46209, 25621, 63050, 22446, 20380, 42663, 29719,
       47752, 48265, 28847, 34738, 56437, 68993, 25391, 59220, 61737,
       38503, 37229, 43173, 67798, 60364, 61636, 66102, 38300, 32893,
       41670, 31527, 45420, 34034, 66957, 45974, 60907, 65608, 30258,
       48904, 60907, 16392, 27837, 31800, 52944, 52130, 69635, 61760,
       35371, 43833, 31144, 42981, 42679, 29528, 25406, 65137, 41092,
       40121, 60905, 51082, 39081, 28242, 53516, 34780, 26374, 53414,
       52704, 60996, 24292, 53806, 22036, 20150, 67832, 16699, 31337,
       37997, 32403, 59891, 65432, 29349, 30344, 25149, 40099, 15221,
       57622, 49988, 24844, 52913, 34385, 30072, 40770, 55412, 53884,
       21819, 38449, 23791, 62452, 71609, 47847, 48473, 71784, 16712,
       36166, 16230, 56909, 71914, 35279, 56032, 63095, 18199, 16388,
       54783, 55363, 29217, 68715, 36479, 21179, 60473, 51557, 55498,
       31929, 55708, 70112, 60444, 61484, 22498, 35499, 47502, 53289,
       34047, 34448, 62645, 68821, 45524, 54870, 24199, 19816, 63405,
       44335, 19435, 35406, 18344, 56222, 15268, 31151, 70743, 59818,
       33647, 54618, 69634, 40200, 17382, 68245, 60904, 22546, 22586,
       48033, 71666, 48533, 62627, 17757, 44881, 56148, 54502, 57251,
       38324, 19858, 42458, 56015, 43011, 70962, 37764, 41902, 37437,
       23404, 50817, 69791, 35522, 23556, 25610, 51813, 55814, 62068,
       18858, 55399, 56964, 30479, 42133, 70806, 20369, 38043, 63417,
       62694, 51709, 70835, 17317, 67629, 17286, 18475, 19022, 67730,
       42654, 22670, 29130, 30366, 49458, 43255, 68019, 53559, 25980,
       15954, 69322, 54524, 27471, 24639, 48613, 25454, 37428, 70318,
       38323, 20338, 62168, 50994, 45631, 71653, 45321, 32584, 20662,
       64979, 26990, 30892, 21683, 38995, 59809, 36120, 24808, 34110,
       15630, 46860, 46919, 38220, 45213, 69896, 33135, 52472, 56207,
       64248, 57710, 32061, 63750, 40149, 60091, 17450, 45608, 27754,
       58615, 62110, 50313, 28766, 63943, 38196, 69749, 17210, 20301,
       51464, 38598, 62089, 38425, 47892, 21159, 39988, 36560, 52767,
       72074, 34215, 39160, 46640, 18002, 63387, 29446, 59760, 32077,
       34570, 35018, 64903, 33502, 63964, 24092, 25700, 33668, 38264,
       23002, 66075, 54180, 34951, 21155, 47039, 23591, 45420, 70314,
       50166, 18320, 34984, 23354, 20759, 42255, 29829, 42557, 41087,
       69483, 47205, 63846, 49906, 57623, 63518, 60116, 30220, 31288,
       49564, 67956, 61232, 46787, 52365, 30652, 38077, 40316, 66222,
       63753, 71090])

### Step 8. Add the column owners to cars

In [20]:
cars['owners'] = nr_owners
alpha_columns = cars.columns.str.isalpha()
alpha_columns = alpha_columns.fillna(False)
cars_filtered = cars.loc[:, alpha_columns]
cars_filtered.tail()

AttributeError: 'numpy.ndarray' object has no attribute 'fillna'