# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd        
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [3]:
cars1 = pd.read_csv('/Users/teddy/Documents/GitHub/xtra/pandas_exercises/05_Merge/Auto_MPG/cars1.csv')
cars2 = pd.read_csv('/Users/teddy/Documents/GitHub/xtra/pandas_exercises/05_Merge/Auto_MPG/cars2.csv')

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [5]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [9]:
cars1.shape[0]

198

In [8]:
cars2.shape[0]

200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [14]:
cars = pd.concat([cars1, cars2], axis=0)
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [55]:
owners = np.random.randint(15000, 73001, size=398, dtype='l')
owners

array([34010, 53752, 38290, 59281, 21355, 55133, 15546, 17993, 56863,
       21371, 61936, 44239, 52796, 41126, 68179, 53274, 38767, 50402,
       65757, 57298, 43099, 60631, 27768, 63902, 37638, 40471, 64700,
       33822, 29621, 25581, 46112, 33378, 31410, 19613, 30832, 22379,
       18602, 54285, 61140, 50946, 36298, 34258, 20717, 35064, 61359,
       61161, 72631, 40999, 68140, 62928, 20566, 20530, 54103, 56689,
       64271, 63348, 37468, 46568, 26874, 44167, 61827, 42951, 63469,
       40820, 56800, 26102, 65526, 22040, 63135, 56043, 68237, 60538,
       45495, 30020, 46243, 72319, 16566, 47970, 55561, 30385, 20824,
       70919, 42331, 24828, 40202, 67572, 24300, 56857, 72862, 70412,
       27522, 48584, 68700, 33371, 65163, 36599, 32594, 31395, 53652,
       53545, 26701, 34854, 42820, 71356, 61941, 72874, 61886, 56093,
       41477, 57754, 52562, 72401, 34126, 35136, 47286, 59336, 25963,
       21101, 52313, 32352, 38284, 55215, 23363, 53127, 27870, 33990,
       36674, 17466, 56007, 48491, 33883, 70341, 60056, 25489, 22929,
       32409, 41072, 33437, 29630, 21288, 39169, 26194, 54491, 70123,
       59575, 42851, 33410, 57415, 32709, 35733, 15994, 63274, 18133,
       22502, 30889, 43006, 53881, 63865, 28707, 53526, 57867, 52750,
       64215, 47397, 71321, 69835, 17189, 43217, 55938, 35507, 27764,
       63064, 58339, 46922, 18526, 61453, 18818, 41223, 72892, 38035,
       68153, 49981, 34842, 26907, 62085, 65459, 57232, 30006, 21544,
       28264, 43301, 31320, 28896, 29061, 21829, 44976, 21968, 48586,
       31073, 52061, 26926, 15157, 53849, 26614, 32208, 26993, 50991,
       48889, 56360, 58147, 20909, 55857, 44231, 52510, 43252, 48518,
       61896, 33157, 33958, 64959, 33438, 23284, 50116, 71134, 21077,
       65597, 29774, 61257, 56040, 53288, 31557, 25409, 60531, 45822,
       46163, 23209, 64984, 52387, 45422, 24584, 48658, 29133, 16203,
       66939, 61472, 20535, 44103, 44908, 34553, 15879, 28405, 30131,
       41276, 33129, 66257, 17139, 70064, 64286, 47194, 68290, 67263,
       52105, 50325, 22114, 30199, 68123, 64501, 25179, 72614, 44212,
       44608, 45473, 65695, 71268, 34535, 41419, 17369, 65242, 50055,
       57626, 58852, 52222, 31719, 61382, 55453, 43414, 35111, 54454,
       22054, 20219, 25385, 23520, 37131, 41187, 39530, 57246, 59323,
       37885, 65059, 45054, 22191, 70051, 63577, 69152, 40945, 20687,
       56110, 17603, 43043, 54842, 72682, 55887, 50990, 26311, 50424,
       26155, 41380, 56688, 58526, 24391, 66355, 68577, 60271, 42933,
       45655, 22112, 29814, 59154, 32708, 35381, 42264, 42109, 72953,
       42585, 15949, 64505, 40429, 23834, 47477, 43506, 23129, 23757,
       67548, 20933, 38898, 55731, 19523, 36582, 26802, 17532, 70889,
       17505, 44757, 32931, 36294, 28755, 68218, 63190, 50743, 51788,
       53018, 54240, 47552, 28794, 45715, 28213, 20155, 68631, 51088,
       45530, 39987, 71234, 18294, 20297, 68938, 21026, 64866, 52066,
       27501, 50029, 71612, 32336, 25151, 63269, 38639, 47497, 71321,
       53043, 27069, 38030, 70043, 36522, 17201, 28515, 58304, 30505,
       30265, 15984])

### Step 8. Add the column owners to cars

In [56]:
cars['owners'] = owners
alpha_columns = cars.columns.str.isalpha()
alpha_columns = alpha_columns.fillna(False)
cars = cars.loc[:, alpha_columns]
cars

/var/folders/20/24nsj1xx7y52k8m90_h_2r5h0000gp/T/ipykernel_19045/3517080556.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars['owners'] = owners

AttributeError: 'numpy.ndarray' object has no attribute 'fillna'